@()
<!Doctype HTML>
<html>
    <head>
        <title>Slot Machine</title>
        <script src="@routes.Assets.versioned("javascripts/slotMachineWeb.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/slotMachineWeb.css")" type="text/css"></link>
    </head>

    <body>

        <p><b><h1 align="center">Slot Machine</h1></b></p>
        <p><br></p>

        <table align="center">
            <tr>
                <td> <img src = 'assets/images//bell.png' id='slotMachineReel1' width='200px'> </td>
                <td> <img src = 'assets/images//bell.png' id='slotMachineReel2' width='200px'> </td>
                <td> <img src = 'assets/images//bell.png' id='slotMachineReel3' width='200px'> </td>
            </tr>
        </table>

        <p><br><br></p>


        <table align="center" width="600px">

            <tr>
                <td align="left"> <button id = "addcoin" onclick="addCoin()">Add Coin</button></td>
                <td align="center"> Your Credit Balance:  <label id="credits">10</label></td>
                <td align="right"> <button id="spin" onclick="spinReels()">Spin Reels</button> </td>
            </tr>

            <tr>
                <td align="left"> <button id = "betone" onclick="betOne()">Bet One</button></td>
                <td align="center"> Your Bet:  <label id="bets">0</label></td>
                <td align="right"> <button id="betmax" >Bet Max</button> </td>
            </tr>

            <tr>
                <td align="left"> <button id = "stats" >Statistics</button></td>
                <td align="center">  </td>
                <td align="right"> <button id="reset" >Reset</button> </td>
            </tr>

        </table>
    </body>

</html>